@CHARSET "UTF-8";
/*============================================
全般的なスタイル
============================================*/

/*============================================
アカウント
============================================*/
div#account {
	float:right;
	height:0px;	/*背景画像のサイズに合わせてボックスの高さを指定*/
	padding:0px 0px 0px 30px;		/*見出し内容の位置調整*/
	font-size: 150%;
	font-family:Comic Sans MS;	/*フォントの種類*/
}




li#sign_up {
	list-style-type:none;		/*リストマーカー無しにする*/
	background-image:url("Button_sign_in.gif");	/*ヘッダ部分の背景画像*/
	background-position: 100% 0%;
	background-repeat:no-repeat;		/*背景画像を繰り返さない*/
	background-color:#97eacf;		/*ヘッダ部分の背景色*/
	float:none;
}

li#sign_in {
	list-style-type:none;		/*リストマーカー無しにする*/
	background-image:url("Button_sign_in.gif");	/*ヘッダ部分の背景画像*/
	background-position: 100% 0%;
	background-repeat:no-repeat;		/*背景画像を繰り返さない*/
	background-color:#97eacf;		/*ヘッダ部分の背景色*/
	float:none;
}

li#cart {
	list-style-type:none;		/*リストマーカー無しにする*/
	background-image:url("Button_sign_in.gif");	/*ヘッダ部分の背景画像*/
	background-position: 100% 0%;
	background-repeat:no-repeat;		/*背景画像を繰り返さない*/
	background-color:#97eacf;		/*ヘッダ部分の背景色*/
	float:none;
}

	a{text-decoration:none;}
/*============================================
ヘッダ
============================================*/
div#header {
	height:100px;	/*背景画像のサイズに合わせてボックスの高さを指定*/
	background-image:url("gtya-mu.png");	/*ヘッダ部分の背景画像*/
	background-position: 30% 0%;
	background-repeat:no-repeat;		/*背景画像を繰り返さない*/
	background-color:#97eacf;		/*ヘッダ部分の背景色*/
}
h1 {
	color: #0080ff;
	padding:10px 0px 0px 30px;		/*見出し内容の位置調整*/
	font-size: 400%;
	font-family:Comic Sans MS;	/*フォントの種類*/
}
h1 a{text-decoration:none;} 			/*リンクの下線を無くす*/

/*============================================
検索
============================================*/
div#select {
	height:30px; background-color:#1cee11; font-weight:bold;
}

/*============================================
メインメニュー
============================================*/
ul#menu {
	height:42px; background-color:#ffffff; font-weight:bold;
}
li#menu01,li#menu02,li#menu03 {
	float:left;			/*リスト項目を横に並べる*/
	display:inline;			/*リスト項目をインライン表示にする*/
	list-style-type:none;		/*リストマーカー無しにする*/
	background-repeat:no-repeat; 	/*背景画像を繰り返さない*/
}

/*ボタン01～05にはそれぞれ異なる背景画像を指定する*/
li#menu01 {
	width:510px; height:42px;	/*背景画像に合わせたサイズ指定*/
	background-image:url("Button_Earphone.gif");	/*背景画像*/
}
li#menu02 {
	width:510px; height:42px;	/*背景画像に合わせたサイズ指定*/
	background-image:url("Button_Headphone.gif");	/*背景画像*/
}
li#menu03 {
	width:510px; height:42px;	/*背景画像に合わせたサイズ指定*/
	background-image:url("Button_Mp3player.gif");	/*背景画像*/
}
ul#menu a {
	display:block;				/*リンクをブロック表示にする*/
	height:42px; padding-top:4px; text-align:center;
	text-decoration:none; 			/*リンクの下線を無くす*/
	font-size: 150%;
	font-family:Arial, Helvetica, sans-serif;	/*フォントの種類*/
}

/*============================================
サブメニュー（左カラム）
============================================*/
div#submenu {
	width:160px;			/*幅の指定*/
	margin:10px 10px 10px 25px;	/*位置調整（IE6のバグに注意）*/
	display:inline;			/*IE6のマージン算出のバグ対策*/
	float:left;			/*サブメニューのカラムを左寄せにする*/
}

/*サブメニューのヘッダ部分（余白調整・背景画像・背景色・文字サイズなど）*/

div#submenu_header h2 {
	width:135px; height:30px ; padding:4px 0px 0px 0px;
	background-image:url("Button_Headphone.gif");
	background-repeat:no-repeat; background-position:top;
	background-color:#cccccc;
	font-size:90%; font-weight:bold; text-align:center;
	float:left;
}

/*サブメニューのボディ部分（余白調整・背景画像・背景色）*/
ul#submenu_body {
	padding:6px 6px 6px 6px;
	background-image:url("images/bg_submenu_footer.gif");
	background-repeat:no-repeat; background-position:bottom;
	background-color:#cccccc;
	float:left;
}
ul#submenu_body li {
	font-size:100%;			/*文字サイズを90%にする*/
	list-style-type:none;		/*リストマーカー無しにする*/
	display:inline;			/*リスト項目をインライン表示にする*/
}
ul#submenu_body li a {
	display:block;			/*リンクをブロック表示にする*/
	margin:0px 4px 0px 4px;		/*サブメニュー項目のマージン*/
	padding:2px 0px 2px 20px;	/*サブメニュー項目のパディング*/
	background-color:#eeeeee;	/*サブメニュー項目の背景色*/
	text-decoration:none;		/*リンクの下線を無くす*/
}
ul#submenu_body li a:hover {
	background-color:#ffffff;	/*リンクにマウスが乗ったら色を変える*/
}

/*============================================
ニュース（中央カラム）
============================================*/
div#center {

}
div#new_product {
	width:390px; margin-right:5px; padding-top:10px; /*幅の指定と位置調整*/
	float:left;
}

div#new_product_header h3 {
	line-height: 10px;
}

div#new_product_body {
	float:left;
}

hr {height:1px; border:solid 1px #8000ff; margin-bottom:3px;}

/*============================================
売れ筋製品（中央カラム）
============================================*/
div#top_product {
	width:390px; margin-right:5px; padding-top:10px; /*幅の指定と位置調整*/
	float:left;
}

div#top_product_header h3 {
	line-height: 10px;
}

div#top_product_body {
	float:left;
}

hr {height:1px; border:solid 1px #8000ff; margin-bottom:3px;}

/*============================================
注目製品！！（中央カラム）
============================================*/
div#chumoku {
	width:390px; margin-right:5px; padding-top:10px; /*幅の指定と位置調整*/
	float:left;
}

div#chumoku_header h3 {
	line-height: 10px;
}

div#chumoku_body {
	float:left;
}
hr {height:1px; border:solid 1px #ff0080; margin-bottom:3px;}

/*============================================
ピックアップ（右カラム）
============================================*/
div#foundation {
	width:150px; padding-top:10px; 		/*幅の指定と位置調整*/
	float:right;				/*カラムを右寄せにする*/
	background-image:url("images/bar_pickup.gif");	/*右カラムの背景画像*/
	background-repeat:no-repeat;		 /*背景画像を繰り返さない*/
}
div#foundation ul {
	margin-left:10px; 		/*左マージンを10px空ける*/
	font-size:90%;			/*フォントサイズを90%にする*/
}
div#foundation li {
	list-style-type:none; 		/*リストマーカー無しにする*/
	line-height:1.8;		/*行の高さを1.8倍にする*/
}



/*============================================
スタッフ
============================================*/
div#STAFF {
	width:150px;
	height:40px;
	margin:0px 4px 0px 4px;		/*サブメニュー項目のマージン*/
	padding:2px 0px 2px 7px; 		/*幅の指定と位置調整*/
	position:absolute; bottom:40px; left:10px;
}

/*============================================
フッタ
============================================*/
div#footer {
	height:70px; text-align:center;
	clear:both;					/*回り込みを解除する*/
	background-image:url("Sample_footer.jpg");	/*フッタ部分の背景画像*/
	background-position: 50% 70%;
	background-repeat:no-repeat;			/*背景画像を繰り返さない*/
	background-color:#ffcce6;			/*フッタ部分の背景色*/
}
address {
	font-style:normal;			 /*フォントスタイルを標準にする*/
	font-size:small;			 /*フォントサイズを小さくする*/
	padding:5px 0px 5px 0px;		 /*要素内容の位置調整*/
}

